<div style="padding: 10px; border: 1px solid #ddd; margin: 10px; border-radius: 5px;">
  <div class="title">
    Title
  </div>
  <div class="title_user">
    <%= @article.title %>
  </div>
  <div class="content">
    Content
  </div>
  <div class="content_user">
    <%= @article.content %>
  </div>
  <div style="padding: 20px"></div>
  <div class="username">
    Username
  </div>
  <div class="username_user">
    <%= @article.user.username %>
  </div>
  <div style="padding: 20px"></div>
  <%= link_to "Edit", edit_article_path(@article) %>
</div>