<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    Bonjour <%= @user.username %>
    Votre article <%= @article.title %> à été modifié.
  </body>
</html>
