/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1{
     text-align: center;
    
}



#user_username{
    width: 300px;
    height: 30px;
    left: 478px;
    top: 755px;
    font-size: large;
    border-radius: 6px;
    color: #fff;
    background:  #C0C0C0;
    font-weight: 150;
    margin-left: 90px;
}

#user_email, #login_email{
    width: 300px;
    height: 30px;
    left: 478px;
    top: 755px;
    font-size: large;
    border-radius: 6px;
    color: #fff;
    background:  #C0C0C0;
    font-weight: 150;
    margin-left: 122px;
}

#user_password, #login_password{
    width: 300px;
    height: 30px;
    left: 478px;
    top: 755px;
    font-size: large;
    border-radius: 6px;
    color: #fff;
    background:  #C0C0C0;
    font-weight: 150;
    margin-left: 95px;
}

#user_password_confirmation{
    width: 300px;
    height: 30px;
    left: 478px;
    top: 755px;
    font-size: large;
    border-radius: 6px;
    color: #fff;
    background:  #C0C0C0;
    font-weight: 150;
   
}

.field{
    font-weight: 400;
}


input{

    width: 150px;
    border-radius: 6px;
    background:  #C0C0C0;
    color: #fff;

}


tr{
    text-align: center;
}

#article_title{
    margin-top: 50px;
    margin-left: 30px;
}

#article_content{

    border-radius: 6px;
    color: #fff;
    background:  #C0C0C0;
    font-weight: 150;

}

.title{
    
    font-weight: 700;
}

.content{
    
    font-weight: 700;
}

.username{
    
    font-weight: 700;
    
}